input[type="range"] {
  margin: 0;
}

#videoSection {
	position: relative;
	width: 700px;
}

video {
  width: 100%;
  height: auto;
}

#videoController {
	position: absolute;
	bottom: 0;
  width: 100%;
	box-sizing: border-box;
	padding: 1em;
	transition: opacity 0.2s ease-in-out;
	opacity: 0;
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4051995798319328) 57%, rgba(0,0,0,0) 100%);
}

#videoController.show{
	opacity: 1;
}

#videoController > * {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
	color: white;
}

#videoController > * + * {
	margin-left: 1em;
}

#totalTime::before {
  content: "/";
  display: inline-block;
  margin-right: 5px;
}

#fullscreen, #volumeRange, #volume {
  float: right;
}

#timeLine {
  width: 100%;
	margin-left: 0;
}
